# Project
.idea
.project
.settings
.vscode
.history

# Executable
golang-with-recaptcha
golang-with-recaptcha.exe

# mac crap
.DS_Store

# livereload helper
gin-bin

# Logs
logs

*.log

# Runtime data
pids
*.pid
*.seed

# SSL/TLS
server.crt
server.key
